:root {
  /*
Initial colors:

--primary: #5090F3;
--grey: #cccccc;
--alert: #FF6C6C;
--info: #79E2A9;
--warning: #FFCD93;


--primary: #118AB2;
--grey: #cccccc;
--alert: #EF476F;
--info: #06D6A0;
--warning: #FFD166;
--dark: #073B4C;

*/

--primary-darker: rgb(5, 44, 57);
--primary-dark: rgb(11, 91, 117);
--primary: rgb(17, 138, 178);
--primary-bg: rgba(17, 138, 178, .2);
--primary-light: rgb(28, 182, 233);
--primary-lighter: rgb(88, 201, 239);

--grey-darker: rgb(138, 138, 138);
--grey-dark: rgb(171, 171, 171);
--grey: rgb(204, 204, 204);
--grey-bg: rgba(204, 204, 204, .2);
--grey-light: rgb(237, 237, 237);
--grey-lighter: rgb(255, 255, 255);

--alert-darker: rgb(163, 14, 49);
--alert-dark: rgb(224, 20, 67);
--alert: rgb(239, 71, 110);
--alert-bg: rgba(239, 71, 110, .2);
--alert-light: rgb(244, 132, 158);
--alert-lighter: rgb(250, 193, 206);

--info-darker: rgb(2, 85, 63);
--info-dark: rgb(4, 149, 111);
--info: rgb(6, 214, 158);
--info-bg: rgba(6, 214, 158, .2);
--info-light: rgb(37, 249, 192);
--info-lighter: rgb(102, 251, 211);

--warning-darker: rgb(224, 157, 0);
--warning-dark: rgb(255, 189, 36);
--warning: rgb(255, 209, 102);
--warning-bg: rgba(255, 209, 102, .2);
--warning-light: rgb(255, 229, 168);
--warning-lighter: rgb(255, 249, 235);

--dark-darker: rgb(0, 0, 0);
--dark-dark: rgb(1, 12, 15);
--dark: rgb(7, 59, 76);
--dark-bg: rgba(7, 59, 76, .2);
--dark-light: rgb(13, 106, 137);
--dark-lighter: rgb(18, 153, 198);
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.signin, .signup, .user {
  flex-grow: 1;
  padding: 16px 16px 32px;
}

.home {
  padding: 0 16px;
  position: relative;
  background-image: url(~/assets/img/pattern-seamless-lemon.svg);
}

.hero {
  padding-top: 140px;
  padding-bottom: 24px;
  background-image: url(~/assets/img/calendar-icon.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.user .hero {
  padding-top: 24px;
  background: none;
}

.user-avatar {
  aspect-ratio: 1/1;
  overflow: hidden;
  width: 10rem;
  margin: 0 auto 1rem;

  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCiAgPHBhdGggZD0iTSAxMDAgMCBDIDIwIDAgMCAyMCAwIDEwMCBDIDAgMTgwIDIwIDIwMCAxMDAgMjAwIEMgMTgwIDIwMCAyMDAgMTgwIDIwMCAxMDAgQyAyMDAgMjAgMTgwIDAgMTAwIDAgWiIvPgoKPC9zdmc+);
}

.user-avatar img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero h1 {
    margin: 0;
    font-size: 26px;
    line-height: 35px;
    text-align: center;

    color: #5090F3;
}

.hero p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: #757575;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 32px;
}

.field {
  flex-grow: 1;
  position: relative;
}

.form-control {
  width: 100%;
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
}

.toggle {
  flex-shrink: 0;
  height: 1.5rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  border: solid 1px;
  border-color: rgba(57, 78, 106, 0.2);
  background-color:rgba(57, 78, 106, 0.2);
  border-radius: 20px;
  transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
  box-shadow: rgb(255, 255, 255) -24px 0px 0px 2px inset, rgb(255, 255, 255) 0px 0px 0px 2px inset;
}

.toggle:checked, .toggle[checked="true"] {
  border-color:#5090F3;
  background-color: #5090F3;
  box-shadow:rgb(255, 255, 255) 24px 0px 0px 2px inset, rgb(255, 255, 255) 0px 0px 0px 2px inset;
}

.input-group input:not([type="checkbox"]) {
  width: 100%;
  padding: 24px;
  padding-right: 48px;
  font-size: 14px;
  line-height: 19px;
  font-family: inherit;

  color: #181818;
  background: #FFFFFF;
  border: 1px solid #5090F3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.password-toggle {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url(~/assets/img/eye-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;

  color: #5090F3;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: none;
  padding: 17px;
}

.btn-full {
  display: block;
  width: 100%;
  margin-bottom: 17px;
}

.btn-primary {
  background: #5090F3;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 15px;
}

.btn-google {
  color: #000000;
  padding: 17px 72px;
  background-image: url(~/assets/img/google-icon.png);
  background-repeat: no-repeat;
  background-position: left 0px center;
}

.btn-fb {
  color: #0a52bd;
  padding: 17px 72px;
  background-image: url(~/assets/img/fb.svg);
  background-repeat: no-repeat;
  background-position: left 20px center;
  background-size: 36px;
}

.divider {
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #757575;

  display: flex;
  gap: 12px;
  align-items: center;
}

.divider::before, .divider::after {
  content: "";
  flex-grow: 1;
  height: 0;
  border-bottom: 1px solid #757575;
}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-light);
  min-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-toggle {
  background: rgba(196, 196, 196, 0.5);
  border-radius: 100px;
  border: none;
  height: 6px;
  width: 46px;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: #757575;
}

.page-header p {
  margin: 0;
}

.page-header .today {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;

  color: #000000;
}

.page-header .user-link {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-icon1 svg {
  display: block;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

#nav-icon1 line {
  stroke: #000000;
  stroke-width: 2;
  stroke-linecap: round;
  transform-origin: center;
  transition: 0.2s;
}

#nav-icon1 line:nth-of-type(1) {
  transform: translateY(-8px);
}
#nav-icon1 line:nth-of-type(3) {
  transform: translateY(8px);
}

#nav-menu1 {
  position: absolute;
  appearance: none;
}

#nav-menu1:checked ~label line:nth-of-type(1) {
  transform: translateX(0) rotate(-45deg);
}
#nav-menu1:checked ~ label line:nth-of-type(2) {
  opacity:0;
}
#nav-menu1:checked ~ label line:nth-of-type(3) {
  transform: translateX(0) rotate(45deg);
}

.days {
  padding: 8px 0;
}

.days-list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  gap: 16px;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.days-item {
  background: #FFFFFF;
  /* border: 1px solid #E8E8E8; */
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
  color: #5B5B5B;
  font-weight: 500;
  width: 40px;
  height: 60px;
  flex-shrink: 0;
  padding: 6px 8px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.days-item.with-event::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background:  var(--primary);
  /* margin: 0 auto; */
}

.days-item.active-day {
  background-color: var(--primary-light);
  border: none;
  color: #F1F1F1;
}

.days-item.active-day.with-event::after {
  background: #F1F1F1;
}

.days-item .day {
  text-transform: uppercase;
}

.days-item .date {
  font-size: 16px;
  line-height: 24px;
}

/*
.events {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*/

.pat-1 {
  --c : rgba(255,255,255,0.7);
  --t : transparent;
	background-image:
  repeating-linear-gradient(45deg, var(--c) 0, var(--c) 20px, var(--t) 20px, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 68px, var(--t) 80px, var(--c) 0),
  repeating-linear-gradient(-45deg, var(--c) 0, var(--c) 20px, var(--t) 20px, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 68px, var(--t) 80px, var(--c) 0),
  linear-gradient(to bottom right, #FC354C, #0ABFBC);
}
.pat-2 {
  --c : rgba(255,255,255,0.7);
  --t : transparent;
	background-image:
  repeating-linear-gradient(45deg, var(--t) 0, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 0),
  repeating-linear-gradient(-45deg, var(--t) 0, var(--t) 32px, var(--c) 32px, var(--c) 44px, var(--t) 44px, var(--t) 56px, var(--c) 56px, var(--c) 68px, var(--t) 0),
  linear-gradient(to bottom left, #FC354C, #0ABFBC);
}

.grid-bg {
  background: repeating-linear-gradient(-45deg, transparent, transparent 1em, rgba(127, 215, 245, 0.4) 0, rgba(127, 215, 245, 0.1) 2em, transparent 0, transparent 1em, rgba(127, 215, 245, 0.3) 0, rgba(127, 215, 245, 0.2) 4em, transparent 0, transparent 1em, rgba(192, 235, 250, 0.6) 0, rgba(192, 235, 250, 0.2) 2em), repeating-linear-gradient(45deg, transparent, transparent 1em, rgba(127, 215, 245, 0.4) 0, rgba(127, 215, 245, 0.1) 2em, transparent 0, transparent 1em, rgba(127, 215, 245, 0.3) 0, rgba(127, 215, 245, 0.2) 4em, transparent 0, transparent 1em, rgba(192, 235, 250, 0.4) 0, rgba(192, 235, 250, 0.1) 2em), #FFF;
  background-blend-mode: multiply;
}

.circle-grid {
  --trans: transparent;
  --sage:								#87A376;
  --forest: 						#2E644A;
  font-size: 4em;
  background-color: var(--forest);
  background-image: repeating-radial-gradient( circle at 0.5em 0.5em, var(--sage), var(--sage) 0.1em, var(--trans) 0.11em, var(--trans) 0.45em, var(--sage) 0.46em);
  background-size: 1em 1em;
}

.events-list {
  margin: 0;
  padding: 0;
  list-style: none;

  height: calc(100vh - 76px - 76px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  /* background: radial-gradient(circle, #B3CCA2 0.75em, rgba(255, 255, 255, 0) 0.75em, rgba(255, 255, 255, 0) 1.5em, rgba(204, 195, 148, 0.7) 1.5em, rgba(204, 195, 148, 0.7) 1.8em, rgba(255, 255, 255, 0) 1.8em) 0 0, radial-gradient(circle, #CCC394 0.75em, rgba(255, 255, 255, 0) 0.75em, rgba(255, 255, 255, 0) 1.5em, rgba(179, 204, 162, 0.7) 1.5em, rgba(179, 204, 162, 0.7) 1.8em, rgba(255, 255, 255, 0) 1.8em) 3em 3em, radial-gradient(circle, rgba(179, 204, 162, 0.7) 0.375em, rgba(255, 255, 255, 0) 0.375em) 3em 0, radial-gradient(circle, rgba(204, 195, 148, 0.7) 0.3em, rgba(255, 255, 255, 0) 0.3em) 0 3em;
  background-size: 6em 6em; */
  /* background: repeating-linear-gradient(-45deg, transparent, transparent 1em, rgba(127, 215, 245, 0.4) 0, rgba(127, 215, 245, 0.1) 2em, transparent 0, transparent 1em, rgba(127, 215, 245, 0.3) 0, rgba(127, 215, 245, 0.2) 4em, transparent 0, transparent 1em, rgba(192, 235, 250, 0.6) 0, rgba(192, 235, 250, 0.2) 2em), repeating-linear-gradient(45deg, transparent, transparent 1em, rgba(127, 215, 245, 0.4) 0, rgba(127, 215, 245, 0.1) 2em, transparent 0, transparent 1em, rgba(127, 215, 245, 0.3) 0, rgba(127, 215, 245, 0.2) 4em, transparent 0, transparent 1em, rgba(192, 235, 250, 0.4) 0, rgba(192, 235, 250, 0.1) 2em), #FFF;
  background-blend-mode: multiply; */
  /* background: linear-gradient( 90deg,
      rgba(255, 225, 132, .7) 50%, rgba(255,255,255, 0) 50%),
    linear-gradient( 90deg,
      rgba(32, 113, 120, .3) 50%, rgba(255,255,255, 0) 50%),
    linear-gradient( 90deg,
      rgba(255, 150, 102, .3) 50%, rgba(255,255,255, 0) 50%),
    linear-gradient( 90deg,
      rgba(23, 76, 79, .1) 50%, rgba(255,255,255, 0) 50%);
  background-size: 7em 7em, 5em 5em, 3em 3em, 1em 1em;
  background-color: #F5E9BE; */
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 0) 93%, rgba(192, 204, 171, 0.5) 93%, rgba(192, 204, 171, 0.5) 100%), linear-gradient(90deg, rgba(232, 222, 103, 0.4) 5%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0)), linear-gradient(rgba(232, 222, 103, 0.4) 5%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0) 90%, rgba(229, 113, 82, 0.2) 90%, rgba(229, 113, 82, 0.2) 100%), linear-gradient(rgba(255, 255, 255, 0) 35%, rgba(255, 239, 195, 0.4) 35%, rgba(255, 239, 195, 0.4) 45%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 55%, rgba(232, 222, 103, 0.4) 55%, rgba(232, 222, 103, 0.4) 70%, rgba(255, 255, 255, 0) 70%), linear-gradient(90deg, rgba(255, 255, 255, 0) 35%, rgba(255, 239, 195, 0.4) 35%, rgba(255, 239, 195, 0.4) 45%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 55%, rgba(232, 222, 103, 0.4) 55%, rgba(232, 222, 103, 0.4) 70%, rgba(255, 255, 255, 0) 70%), linear-gradient(rgba(255, 255, 255, 0) 55%, rgba(255, 239, 195, 0.4) 55%, rgba(255, 239, 195, 0.4) 60%, rgba(255, 255, 255, 0) 60%), linear-gradient(90deg, rgba(255, 255, 255, 0) 55%, rgba(255, 239, 195, 0.4) 55%, rgba(255, 239, 195, 0.4) 60%, rgba(255, 255, 255, 0) 60%), linear-gradient(rgba(255, 255, 255, 0) 20%, rgba(192, 204, 171, 0.5) 20%, rgba(192, 204, 171, 0.5) 80%, rgba(255, 255, 255, 0) 80%), linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(229, 113, 82, 0.2) 20%, rgba(229, 113, 82, 0.2) 80%, rgba(255, 255, 255, 0) 80%), linear-gradient(rgba(255, 255, 255, 0) 10%, rgba(232, 222, 103, 0.4) 10%, rgba(232, 222, 103, 0.4) 35%, rgba(255, 255, 255, 0) 35%), linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, rgba(232, 222, 103, 0.4) 10%, rgba(232, 222, 103, 0.4) 35%, rgba(255, 255, 255, 0) 35%);
  background-size: 14em 14em;
  background-color: #FFEFC3; */
  /* background-image: radial-gradient(currentColor 1px, transparent 1px), radial-gradient(currentColor 1px, transparent 1px);
  background-size: calc(20 * 1px) calc(20 * 1px);
  background-position: 0 0, calc(10 * 5px) calc(10 * 5px); */
}

.event {
  margin-bottom: 16px;
  scroll-snap-align: start;
}

.event time {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: #989898;
}

.event-card {
  background: linear-gradient(var(--primary-bg), var(--primary-bg)), white;
  border-radius: 10px;
  padding: 14px 12px 16px;
  border-left: var(--primary) solid 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.event-card:active:hover,
.event-card:active:focus {
  animation: none;
  transform: scale(0.95);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-backdrop-filter;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
 }

.event-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: var(--primary-dark);
  margin: 0;
}

.event-description {
  font-size: 12px;
  line-height: 16px;

  color: var(--primary);
  margin: 0;
}

.event.event--empty .event-card {
  background: linear-gradient(var(--grey-bg), var(--grey-bg)), white;
  border-left: var(--grey) solid 10px;
}

.event.event--empty .event-title {
  color: var(--grey-dark);
}

.event.event--empty .event-description {
  color: var(--grey-darker);
}

.event.event--alert .event-card {
  background: linear-gradient(var(--alert-bg), var(--alert-bg)), white;
  border-left: var(--alert) solid 10px;
}

.event.event--alert .event-title {
  color: var(--alert-dark);
}

.event.event--alert .event-description {
  color: var(--alert-light);
}

.event.event--info .event-card {
  background: linear-gradient(var(--info-bg), var(--info-bg)), white;
  border-left: var(--info) solid 10px;
}

.event.event--info .event-title {
  color: var(--info-dark);
}

.event.event--info .event-description {
  color: var(--info-darker);
}

.event.event--warning .event-card {
  background: linear-gradient(var(--warning-bg), var(--warning-bg)), white;
  border-left: var(--warning) solid 10px;
}

.event.event--warning .event-title {
  color: var(--warning-dark);
}

.event.event--warning .event-description {
  color: var(--warning-darker);
}

.event-members {
  margin: 0;
  margin-top: 4px;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  width: max-content;
  max-width: 90%;
}

.event-member {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: solid 4px;
  border-color: var(--grey-lighter);
  overflow: hidden;
  display: inline-flex;
}

.event-members > :not([hidden]) ~ :not([hidden]) {
  margin-left: clamp(-20px, min(-7%, 5% - 30px), -10px);
}

.event-member img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.event-member.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(2, 16, 39);
  color: rgb(163, 198, 255);
  font-size: 16px;
}

.event.event--skeleton .event-title {
  border: solid grey 6px;
  border-radius: 10px;
  width: 50%;
  margin-top: 0.4em;
}

.event.event--skeleton .event-description {
  border: solid grey 4px;
  border-radius: 10px;
  width: 33%;
  margin-top: 0.8em;
}

.event.event--skeleton .event-member {
 background: grey;
  margin-top: 0.4em;
}

.splash {
  min-height: 100vh;
  background-color: #5090F3;
  background-image: url(~/assets/img/calendar-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.loading {
  opacity: 0.8;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}

.calendar {
  display: none;
}

.page-header__menu {
  display: none;
}

.drawer {
  display: grid;
  width: 100%;
  height: 100%;
  border-radius: .25rem;
  overflow: hidden;
}
.drawer-toggle {
  position: absolute;
  height: 0;
  width: 0;
  appearance: none;
  opacity: 0;
}
:where(.drawer-toggle ~ .drawer-content) {
  height: inherit;
}

.drawer-toggle ~ .drawer-content {
  z-index: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  overflow-y: auto;

  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.drawer-toggle ~ .drawer-side {
  grid-column-start: 1;
  grid-row-start: 1;
  display: grid;
  max-height: 100vh;
}
.drawer-toggle ~ .drawer-side > .drawer-overlay {
  visibility: hidden;
  grid-column-start: 1;
  grid-row-start: 1;
  opacity: 0;
  cursor: pointer;
  --bg-opacity: 1;
  background-color:rgb(2 16 39 /var(--bg-opacity));
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.drawer-toggle ~ .drawer-side > .drawer-overlay + * {
  z-index: 10;
  width: 240px;
  padding: 10px;
  grid-column-start: 1;
  grid-row-start: 1;
  --tw-translate-x: -100%;
  transform: translateX(var(--tw-translate-x));
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.drawer-toggle:checked ~ .drawer-content {
  transform: translateX(5px);
}
.drawer-toggle:checked ~ .drawer-side {
  overflow-y: auto;
}
.drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
  visibility: visible;
  opacity: .999999;
  --bg-opacity: .4;
}
.drawer-toggle:checked ~ .drawer-side > .drawer-overlay + * {
  --tw-translate-x: 0px;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  background-color: white;
}
.menu :where(li) {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
}
.menu :where(li) > :where(:not(ul)) {
  padding: .75rem 1rem;
  color: currentColor;
  border-radius: 8px;
}
.menu :where(li) > :where(:not(ul)):active {
  background-color: rgba(57, 78, 106, 0.1);
}

@media (orientation: landscape) {
  .home {
    flex-grow: 1;
    display: flex;
    gap: 16px;
    padding-top: 6px;
  }

  .page-header {
    padding: 6px 12px; 
  }

  .days {
    padding-top: 0;
  }

  .events {
    flex-grow: 1;
  }

  .events-list {
    height: calc(100vh - 48px);
    padding-inline: 8px;
    scroll-behavior: smooth;
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: var(--grey-dark) var(--grey-light);
  }

  .events-list::-webkit-scrollbar {
    width: 8px;
    height: auto;
    background-color: var(--grey-light);
    border-radius: 20px;
  }

  .events-list::-webkit-scrollbar-thumb {
    background-color: var(--grey-dark);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid var(--grey-light);  /* creates padding around scroll thumb */
  }

  .days-list {
    display: none;
  }

  .calendar {
    display: flex;
  }

  .event {
    display: flex;
  }

  .event > time {
    padding-top: 6px;
    width: 36px;
    margin-right: 16px;
  }
  .event-card {
    flex-grow: 1;
  }

  .event-card .event-members {
    width: auto;
  }

  .page-header__today {
    display: none;
  }

  .page-header__menu {
    display: flex;
  }

  .page-footer {
    display: none;
  }
}
